div{
    background-color: #f1faee;
    font-family: 'Courier New', Courier, monospace;
}
#main-heading{
    text-align: center;
    margin-left: 43%;
    height: fit-content;
    width: fit-content;
    border: 5px solid #001219;
}

#profile-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#info{
    text-align: center;
    margin-left: 40%;
    margin-top: 60px;
    border: 2px solid #001219;
    height: fit-content;
    width: fit-content;
}

#info h4{
    font-size: 25px;
}

#info p{
    font-weight: 900;
}

#info p span{
    font-weight: 500;
}

main{
    text-align: center;
}
main ul li{
    font-weight: 900;
}

main ul li span{
    font-weight: 500;
}

div h5{
    text-align: center;
    font-size: 25px;
}

div h5 span{
    font-weight: lighter;
    display: block;
    font-size: large;
    text-align: center;
}

div h6{
    text-align: center;
    font-size: 30px;
}

div h6 a{
    text-decoration: none;
    color: #219ebc;
}

div h6 a:hover{
    text-decoration: underline;
}